<nav class="navbar">
  <h1 class="navbar__brand">
    <a href="/" class="logo">Hexo School Glasses</a>
  </h1>
  <ul class="navbar__nav">
    <li class="navbar__item">
      <a href="products-optical.html" class="navbar__link">系列鏡框</a>
    </li>
    <li class="navbar__item">
      <a href="stores.html" class="navbar__link">門市據點</a>
    </li>
    <li class="navbar__item">
      <a href="blog.html" class="navbar__link">部落格</a>
    </li>
    <li class="navbar__item">
      <a href="question.html" class="navbar__link">常見問題</a>
    </li>
  </ul>
</nav>