.navbar {
  display: flex;
  flex-direction: column;
  background-color: $navbar-bg-color;
  @include pad {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $navbar-md-padding;
  }
  @include desktop-s {
    padding: $navbar-lg-padding;
  }
  &__brand {
    padding: $navbar-brand-padding;
    border-bottom: 1px solid $white;
    @include pad {
      padding: $navbar-brand-md-padding;
      border-bottom: none;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 50%;
    text-align: center;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
    &:nth-child(odd) {
      border-left: none;
    }
    @include pad {
      width: auto;
      border-left: none;
      border-bottom: none;
    }
  }
  &__link {
    display: block;
    padding: $navbar-nav-link-padding;
    background-color: $navbar-nav-link-bg-color;
    color: $navbar-nav-link-color;
    font-size: $navbar-brand-font-size;
    text-decoration: none;
    @include pad {
      padding: $navbar-nav-link-md-padding;    
    }
    @include desktop-s {
      padding: $navbar-nav-link-lg-padding;
    }
    &:hover, &:focus {
      color: $navbar-nav-link-hover-color;
      background-color: $navbar-nav-link-hover-bg-color;      
    }
  }
}
