.second-banner {
  display: flex;
  align-items: flex-end;
  min-height: 9rem;
  background-image: url("../images/qa.png");
  @include bg-full(cover);
  @include pad {
    min-height: 19rem;
  }
  &__icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    @include pad {
      width: 3rem;
      height: 3rem;
    }
    @include desktop-s {
      width: 3.75rem;
      height: 3.75rem;
    }
  }
}