// theme-color

$primary: #AA0601;
$primary-dark: darken($primary, 5%);
$secondary: #650300;
$muted: #707070;
$light: rgba(170, 6, 1, 0.05);
$dark: #212529;
$black: #000000;
$white: #ffffff;
$gray-100: #DCDCDC;
$gray-200: #DEE2E6;
$gray-300: #F2F2F2;
$gray-400: #555555;
$brown-100: #B75929;
$brown-200: #5F3E2D;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'warning': yellow,
  'muted': $muted,
  'dark': $dark,
  'light': $light,
  'black': $black,
  'white': $white,
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  '$brown-100': $brown-100,
  '$brown-200': $brown-200,
);

// space

$space-base: 1rem;

$spacies: (
  0: 0,
  1: ($space-base * 0.25), // 4
  2: ($space-base * 0.5), // 8
  3: ($space-base * 0.625), //10
  4: ($space-base * 0.75), //12 
  5: ($space-base * 0.875), //14
  6: $space-base, //16
  7: ($space-base * 1.125), //18
  8: ($space-base * 1.25), //20
  9: ($space-base * 1.5), //24
  10: ($space-base * 1.875), //30
  11: ($space-base * 2), //32
  12: ($space-base * 2.25), //36
  13: ($space-base * 2.375), //38
  14: ($space-base * 2.5), //40 
  15: ($space-base * 2.625), //42 
  16: ($space-base * 3), //48
  17: ($space-base * 3.125), //50
  18: ($space-base * 3.5), //56
  19: ($space-base * 3.75), //60 
  20: ($space-base * 3.875), //62
  21: ($space-base * 4), //64
  22: ($space-base * 4.5), //72
  23: ($space-base * 5), //80
  24: ($space-base * 5.5), //88
  25: ($space-base * 6.5), //104
  26: ($space-base * 7), //112
  27: ($space-base * 9.75), //156
  28: ($space-base * 12), //192
  29: ($space-base * 16.5), //264
);
$spacies-properties: 'm', 'p';
$spacies-sides: '', 't', 'b', 'l', 'r', 'x', 'y';

// grid

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$breakpoints: (
  xxs: 0,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
);

$grid-breakpoints: (
  xxs: 0,
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$gutter-width: 30px;
$grid-sum: 12;

$container-max-widths: (
  xxs: 0,
  xs: 345px,
  sm: 540px,
  md: 720px, //720
  lg: 960px, //960
  xl: 1140px, //1140
);

// link

$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

// sizing
$sizing: (
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
);

// border
$border-widths: (
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
);

$border-color: $gray-200;

$border-radius: 0.25rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.3rem;
$border-radius-pill: 50rem;

// font

$font-family: custom, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

// font size
$font-basic-size: 16px;
$font-size-base: 1rem;

$font-sizes: (
  1: ($font-size-base * 4.5), // 72
  2: ($font-size-base * 4), // 64
  3: ($font-size-base * 3), // 48
  4: ($font-size-base * 2.625), // 42
  5: ($font-size-base * 2.25), // 36
  6: ($font-size-base * 2), // 32
  7: ($font-size-base * 1.75), // 28
  8: ($font-size-base * 1.5), // 24
  9: ($font-size-base * 1.25), // 20
  10: ($font-size-base * 1.125), // 18
  11: $font-size-base, // 16
  12: ($font-size-base * 0.875), // 14
);

// font weight

$font-weight: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
);

// line-height

$line-height-base: 1.5;
$line-height-sm: 1.25rem;
$line-height-lg: 2rem;

// buttons

$btn-padding: 0.375rem 0.75rem;
$btn-md-padding: 0.375rem 0.75rem;
$btn-lg-padding: 0.375rem 0.75rem;
$btn-font-size: 0.875rem;
$btn-md-font-size: 0.875rem;
$btn-lg-font-size: 1rem;
$btn-line-height: 1.5;
$btn-border-width: 1px;
$btn-font-weight: 400;
$btn-border-radius: 0;
$btn-transition: all 0.15s ease-in-out;

$btn-disabled-opacity: 0.5;

$btn-padding-sm: 0.25rem 0.5rem;
$btn-md-padding-sm: 0.25rem 0.5rem;
$btn-lg-padding-sm: 0.25rem 0.5rem;
$btn-font-size-sm: 0.875rem;
$btn-md-font-size-sm: 0.875rem;
$btn-lg-font-size-sm: 1rem;
$btn-border-radius-sm: $btn-border-radius;
$btn-line-height-sm: $btn-line-height;

$btn-padding-lg: 0.5rem 3.5rem;
$btn-md-padding-lg: 0.5rem 4.75rem;
$btn-lg-padding-lg: 1rem 9rem;
$btn-font-size-lg: 0.875rem;
$btn-md-font-size-lg: 0.875rem;
$btn-lg-font-size-lg: 1rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-line-height-lg: $btn-line-height;

// pagination

$pagination-padding: 0.5rem 0.75rem;
$pagination-md-padding: 0.75rem 1rem;
$pagination-lg-padding: 0.75rem 1rem;

$pagination-color: $gray-400;
$pagination-bg: $white;
$pagination-border-color: $gray-400;
$pagination-border-width: 1px;
$pagination-font-size: 0.75rem;
$pagination-md-font-size: 1.125rem;
$pagination-lg-font-size: 1.125rem;

$pagination-padding-sm: 0.5rem 0.75rem;
$pagination-md-padding-sm: 0.5rem 0.75rem;
$pagination-lg-padding-sm: 0.5rem 0.75rem;
$pagination-font-size-sm: 0.5rem;
$pagination-md-font-size-sm: 0.5rem;
$pagination-lg-font-size-sm: 0.5rem;

$pagination-padding-lg: 0.75rem 1rem;
$pagination-md-padding-lg: 0.75rem 1rem;
$pagination-lg-padding-lg: 0.75rem 1rem;
$pagination-font-size-lg: 1rem;
$pagination-md-font-size-lg: 1rem;
$pagination-lg-font-size-lg: 1rem;

$pagination-focus-color: null;
$pagination-focus-bg: null;
$pagination-focus-box-shadow: 0 0 0 0.2rem rgba($black, 0.2);
$pagination-focus-outline: 0;

$pagination-hover-color: $gray-400;
$pagination-hover-bg: $gray-300;
$pagination-hover-border-color: $gray-400;

$pagination-active-color: $white;
$pagination-active-bg: $black;
$pagination-active-border-color: $black;
$pagination-active-hover-color: $white;
$pagination-active-hover-bg: rgba($black, 0.8);
$pagination-active-hover-border-color: rgba($black, 0.8);

$pagination-disabled-color: rgba($gray-400, 0.5);
$pagination-disabled-bg: null;
$pagination-disabled-border-color: rgba($gray-400, 0.5);

$pagination-transition: all 0.15s ease-in-out;

// navbar
$navbar-bg-color: $primary;

$navbar-padding: 0 0 0 0;
$navbar-md-padding: 0 1.25rem 0 2.5rem;
$navbar-lg-padding: 0 3.5rem 0 5.5rem;

$navbar-brand-padding: 0.625rem;
$navbar-brand-md-padding: 0;
$navbar-brand-lg-padding: 0;

$navbar-nav-link-padding: 0.5rem 0 0.5rem 0;
$navbar-nav-link-md-padding: 2.5rem 1.25rem;
$navbar-nav-link-lg-padding: 2.5rem 2rem;

$navbar-nav-link-color: $white;
$navbar-nav-link-hover-color: $white;
$navbar-nav-link-bg-color: null;
$navbar-nav-link-hover-bg-color: $secondary;

$navbar-brand-font-size: 1.25rem;

// form

// form form-group
$form-group-margin-bottom: 0.5rem;
$form-group-md-margin-bottom: 0.5rem;
$form-group-lg-margin-bottom: 1rem;

// form form-label
$form-label-margin-bottom: null;
$form-label-md-margin-bottom: null;
$form-label-lg-margin-bottom: 0.25rem;

$form-label-font-size: 0.875rem;
$form-label-md-font-size: 0.875rem;
$form-label-lg-font-size: 1rem;

$form-label-font-style: null;
$form-label-font-weight: null;
$form-label-color: null;
$form-label-line-height: 1.5;

// form form-input
$form-input-padding: 0.5rem 0.75rem;
$form-input-md-padding: 0.5rem 0.75rem;
$form-input-lg-padding: 0.875rem 1rem;

$form-input-font-size: 0.875rem;
$form-input-md-font-size: 0.875rem;
$form-input-lg-font-size: 1rem;

$form-input-weight: null;

$form-input-line-height: 1.5;

$form-input-bg: transparent;

$form-input-color: $black;

$form-input-placeholder-color: rgba($black, 0.2);

$form-input-border: 1px solid $black;
$form-input-border-radius: 0;

$form-input-transition: all 0.15s ease-in-out;

$form-input-focus-bg: $form-input-bg;
$form-input-focus-border-color: $primary;
$form-input-focus-color: $form-input-color;
$form-input-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);

$form-input-disabled-bg: #e9ecef;

$form-input-disabled-border-color: #adb5bd;

$form-select-color: rgba(73, 80, 87, 0.75);
$form-select-border-color: #CED4DA;
$form-select-bg: $white url("../images/icon/icon-select-arrow.svg") no-repeat right 0.75rem center;

// form form-check
$form-check-margin-bottom: 1.5rem;
$form-check-md-margin-bottom: 1.5rem;
$form-check-lg-margin-bottom: 2.625rem;

$form-check-label-color: $form-label-color;

$form-check-label-font-size: 0.875rem;
$form-check-label-md-font-size: 0.875rem;
$form-check-label-lg-font-size: 1rem;

$form-check-padding-start: 1.5rem;
$form-check-md-padding-start: 1.5rem;
$form-check-lg-padding-start: 1.875rem;

$form-check-input-width: 1.25rem;
$form-check-input-md-width: 1.25rem;
$form-check-input-lg-width: 1.5rem;

$form-check-input-height: 1.25rem;
$form-check-input-md-height: 1.25rem;
$form-check-input-lg-height: 1.5rem;

$form-check-input-bg: transparent;

$form-check-input-border: 1px solid $black;

$form-check-input-border-radius: 0;

$form-check-transition: all 0.15s ease-in-out;

$form-check-input-check-bg: $black;
$form-check-input-check-color:$white;

$form-check-input-check-border: 1px solid $black;

$form-check-input-focus-border-color: $primary;
$form-check-input-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);

$form-check-input-focus-border-color: $primary;
$form-check-input-focus-box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);

$form-check-label-disabled-bg: #6c757d;
$form-check-input-disabled-bg: $form-input-disabled-bg;
$form-check-input-disabled-border-color: $form-input-disabled-border-color;